* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #467F34;
    --cor-secundaria: #DD2E44;
    --cor-terciaria: #0072B7;
    --cor-quartenaria: #78B155;
    --cor-de-fundo: #FFF8E9;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    width: 100vw;
    height: 120px;
}

body {
    background-color: var(--cor-de-fundo);
}

::placeholder {
    font-size: 18px;
    color: rgb(158, 157, 157);
}

/*Timer*/
#tarefa {
    position: absolute;
    margin-top: 2.5em;
    display: flex;
    font-size: 100px;
    font-family: 'Londrina Solid', cursive;
    color: #FFF8E9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botoes {
    margin-top: -35px;
    font-size: 50px;
    width: 120px;
    border-radius: 10px;
    border: none;
}

#texto_timer {
    display: flex;
}

#iniciar {
    background-color: var(--cor-terciaria);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#reset {
    background-color: var(--cor-secundaria);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#iniciar:hover {
    background-color: #0a5481;
    cursor: pointer;
}

#reset:hover {
    background-color: #a72435;
    cursor: pointer;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tomate_task {
    display: block;
}

#tomate_break {
    display: none;
}

/*CAMPO DE INTERAÇÃO COM AS TAREFAS*/

/* Create a custom radio */
.input_tarefa {
    position: relative;
    top: 0;
    left: 0;
    background-color: #ccc;
    transition: 0.15s;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: left;
    background-color: var(--cor-primaria);
    color: #FFFF;
    height: 40px;
    width: 200PX;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

/* When the radio is checked, add a blue background */
input:checked~.input_tarefa {
    background-color: var(--cor-quartenaria);
    border-radius: 0px 25px 25px 0px;
    transition: 0.15s;
    height: 40px;
    width: 300px;
    font-size: 20px;
    -webkit-box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.75); 
}

#button_add {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 0;
    height: 30px;
    width: 300PX;
    font-size: 22px;
    background-color: var(--cor-quartenaria);
    border: none;
    border-radius: 0px 10px 10px 0px;
    color: #FFFF;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-left: 15px;
    cursor: pointer;
    margin-top: 1em;
}

#button_add:hover {
    background-color: var(--cor-primaria);
    color: #FFFF;
}

/* Create the input_tarefa/indicator (hidden when not checked) */
.input_tarefa:after {
    content: "";
    position: absolute;
    display: none;
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

/* Show the input_tarefawhen checked */
input:checked~.input_tarefa:after {
    display: block;
}

#form1 div div{
    display: flex;
    flex-direction: row;
}

/*settings*/
#conteiner_btn_apply_cancel {
    justify-content: space-evenly !important;
}

#aplicar_mudancas,
#cancelar_mudancas {
    width: 50px;
}

.button_remove {
    background-color: var(--cor-secundaria);
    color: #FFFF;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    padding: 4px;
    min-width: 40px;
    height: 40px;
}

.button_remove:hover {
    cursor: pointer;
    background-color: #a72435;
}


.add_tarefa {
    display: flex;
    align-items: center;
    margin: 1% 70% 0px 0px
}

.img_tarefa {
    width: 40px;
    height: 40px;
}

/*HEADER*/

/*Titulo Central*/
#titulo {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#img-tomte {
    width: 160px;
    margin: -30px;
}

.text-tomate {
    font-family: 'Londrina Solid', cursive;
    color: var(--cor-secundaria);
    font-size: 120px;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 4px #FFFF;
}

/*Menu da esquerda*/
.dropdown-menu1 {
    padding: 0;
    display: flex;
    align-items: left;
    margin: 0;
    list-style-type: none;
    text-align: left;
}

.dropdown-menu1 .descanso-item {
    position: relative;
}

.texto-submenu1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: var(--cor-terciaria);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    text-align: center;
}

.descanso-item:hover .dropdown-submenu1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dropdown-menu1 .descanso-item .texto-submenu1 {
    padding: 10px;
    text-decoration: none;
    display: flex;
}

.dropdown-menu1 .descanso-item .texto-submenu1:hover {
    /* efeito hover nos links do menu principal */
    text-align: left;
}

.dropdown-submenu1 .item-lista1 {
    right: 120px;
    top: 100%;
    width: 100%;
    font-size: 25px;
    flex-wrap: wrap;
}

.dropdown-submenu1 {
    display: none;
    position: absolute;
}

.dropdown-menu1 .descanso-item:hover .dropdown-submenu1 {
    display: flex;
}

/* Menu da direita */

#config_pomodoro {
    cursor: pointer;
    font-size: 40px;
}

#config_pomodoro:hover {
    cursor: pointer;
    font-size: 40px;
    color: rgb(70, 69, 69);
}


#modal_edit_pomodoro{
    width: 19em;
    height: 350px;
    background-color: var(--cor-terciaria);
    display: none;
    justify-content: space-between;
    flex-direction: column;
    padding: 2em;
    border-radius: 20px;
    color: #FFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    -webkit-box-shadow: 2px 2px 12px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 12px 6px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 12px 6px rgba(0,0,0,0.75);
}

#modal_edit_pomodoro div{
    padding: 0.5rem;
}


.edit-pomodoro-selects p {
    font-size: 20px;
    color: #FFF8E9;
    align-content: center;
    gap: 10px;
}

#conteiner_btn_apply_cancel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#select_tarefa {
    font-family: 'Open Sans';
    font-size: 20px;
    color: black;
}

#select_descanso {
    font-family: 'Open Sans';
    font-size: 20px;
    color: black;
}

#aplicar_mudancas {
    background: var(--cor-quartenaria);
    padding: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 35px;
    color: #FFFF;
    margin-top: 10%;
}

#aplicar_mudancas:hover {
    background: var(--cor-primaria);
    padding: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 35px;
    color: #FFFF;
}

#cancelar_mudancas {
    background: var(--cor-secundaria);
    padding: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 35px;
    color: #FFFF;
}

#cancelar_mudancas:hover {
    background-color: #a72435;
    padding: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 35px;
    color: #FFFF;
}

#edit-pomodoro-range {
    margin: 0;
}

#aplicar_mudancas,
#cancelar_mudancas {
    width: 50px;
}

@media only screen and (max-width: 576px) {
    div#tarefa {
        top: -0.2em;
    }

    div#tarefa p {
        font-size: 0.8em;
    }

    div#titulo a {
        display: none;
    }

    header {
        align-items: flex-start;
        height: 0;
    }

    div#tomate_task img,#tomate_break img {
        width: 400px;
    }

    /*settings*/
    #conteiner_btn_apply_cancel {
        justify-content: space-evenly !important;
    }

    #modal_edit_pomodoro{
        width: 13em;
    }

    #aplicar_mudancas,
    #cancelar_mudancas {
        width: 50px;
    }

    /*Videos*/
    iframe{
        width: 350px;
        height: 196.875px; 
    }

}